
.heading{
    background-image: url(../images/animated-pics.gif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 500px;
    background-color: #e3e5de;
    position: relative;
}

body{
    background-color: #e3e5de;
}

.nav-bitl{
    background-color: #6200ee;
}

.nav-bit{
    background-color: #3700b3;
    height: 100px;
}

.animeter{
    content: url('../icons/sports-logo-transparent.png');
    height: 150px;
    width: 150px;
    position: relative;
    top: 40%;
    left: 45%;
}

.deco{
    border: 15px solid teal;
    height: 70px;
    width: 70px;
    position: absolute;
}

.deco-right{
    left: 5%;
}

.deco-left{
    left: 87%;
}
