{% extends 'base.html' %}

{% block title %} FAQ {% endblock %}

{% block content %}
<div class="container">
    <div class="faq-content">
        <ul class="collapsible">
            <li class="active">
              <div class="collapsible-header"><i class="material-icons">question_answer</i>First Question</div>
              <div class="collapsible-body"><span class="flow-text collasp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quo cum exercitationem officia porro voluptas optio nam at non eum! Itaque in vero sapiente quod laboriosam veritatis eos dignissimos deleniti. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione ullam provident numquam et corrupti commodi sit temporibus eius doloribus? Dolore similique, fugiat debitis obcaecati maxime natus accusamus dolores consectetur beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam saepe id cumque? Blanditiis ab vel nam officiis necessitatibus in repudiandae consequuntur odit nobis velit dolorum quibusdam id, itaque at quam?</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">question_answer</i>Second Question</div>
              <div class="collapsible-body"><span class="flow-text collasp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et aut minima aspernatur deleniti voluptatem, quae, consequatur nisi earum maxime fugiat commodi neque! Neque, corporis recusandae totam distinctio vero doloribus facere.Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">question_answer</i>Third Question</div>
              <div class="collapsible-body"><span class="flow-text collasp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur mollitia similique, reiciendis quis illum possimus suscipit? Voluptatem accusantium, sint id iure soluta, voluptate voluptas quod quo magnam doloremque nam dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae recusandae voluptas, repudiandae a natus voluptatibus fugiat repellendus ipsa, alias itaque atque laboriosam, at earum eveniet culpa corporis ipsum quam.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">question_answer</i>Fourth Question</div>
              <div class="collapsible-body"><span class="flow-text collasp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur mollitia similique, reiciendis quis illum possimus suscipit? Voluptatem accusantium, sint id iure soluta, voluptate voluptas quod quo magnam doloremque nam dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis beatae recusandae voluptas, repudiandae a natus voluptatibus fugiat repellendus ipsa, alias itaque atque laboriosam, at earum eveniet culpa corporis ipsum quam.</span></div>
            </li>
          </ul>
    </div>
</div>
{% endblock %}