{% extends 'base.html' %}

{% block title %} Team {% endblock %}

{% block content %}

<div class="container">
    <h3>Team Members:</h3>
    <div class="team-content">
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle ">face</i>
                <span class="title">Member 1</span>
                <p>This is our first member.....</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">face</i>
                <span class="title">Member 2</span>
                <p>This is our second member.....</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">face</i>
                <span class="title">Member 3</span>
                <p>This is our third member.....</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">face</i>
                <span class="title">Member 4</span>
                <p>This is our fourth member.....</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">face</i>
                <span class="title">Member 5</span>
                <p>This is our fifth member.....</p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}